/* GLOBAL */

* {
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #C9AD7B;
    --blue-color: #2B3C75;
    --light-color: #FFF;
    --dark-color: #000;
    --light-gray-color: #9F9F9F;
    --dark-gray-color: #51514D;
    --main-font-family: Arial, Helvetica, sans-serif;
    --secondary-font-family: Georgia, 'Times New Roman', Times, serif
}

.main-button {
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 500;
    color: var(--main-color);
    border: var(--main-color) 2px solid;
    transition: 0.7s;
}

.main-button:hover {
    background-color: var(--main-color);
    color: var(--light-color);
}

.secondary-button {
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 500;
    color: var(--light-color);
    border: var(--main-color) 2px solid;
    transition: 0.7s;
    background-color: var(--main-color);
}

.secondary-button:hover {
    background-color: #cc9e4f;
}

.main-link {
    position: relative;
    z-index: 1;
    text-decoration: none;
    color: var(--main-color);
    transition: 0.8s;
}

.main-link:hover {
    color: var(--light-color);
}

/* HEADER */

#main-header {
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    overflow: hidden;
}

#main-header #image-figure {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 0;
}

#main-header #image-figure img {
    width: 100%;
    object-fit: cover;
}

#main-header h1 {
    font-family: var(--secondary-font-family);
    font-weight: 900;
    font-size: 45px;
    color: var(--light-color);
    position: relative;
    z-index: 2;
}

#main-header a {
    position: relative;
    z-index: 2;
}

#main-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background-color: var(--blue-color);
    opacity: 0.5;
    z-index: 1;
}

/* MAIN */

.service {
    width: 85%;
    height: 100%;
    margin: 80px auto;
    display: flex;
}

.service-left-content {
    width: 50%;
    min-height: 450px;
    background-color: #eeeeee;
    padding: 25px 0 25px 25px;
}

.service-left-content small {
    font-family: var(--main-font-family);
    font-weight: 700;
    font-size: 18px;
    color: var(--main-color);
}

.service-left-content h3 {
    font-weight: 300;
    font-size: 28px;
}

.service-left-content p {
    font-family: var(--main-font-family);
    font-size: 15px;
    color: var(--dark-gray-color);
}

.service-right-content {
    width: 50%;
    min-height: 450px;
    background-color: var(--blue-color);
    padding: 25px 25px 0 25px;
    color: var(--light-color);
    font-family: var(--main-font-family);
}

.service-right-content i {
    color: var(--main-color);
    font-size: 30px;
    margin-bottom: 10px;
}

.service-right-content span {
    font-weight: 800;
    font-size: 20px;
}

/* FOOTER */

.footer {
    background-color: var(--blue-color);
    color: var(--light-color);
    margin-top: 120px;
}
  
.footer-main {
    padding: 80px 0 60px;
}
  
.footer .widget-title {
    font-size: 16px;
    font-weight: 700;
    position: relative;
    margin: 0 0 30px;
    padding-left: 15px;
    text-transform: uppercase;
    color: #fff;
    border-left: 3px solid var(--main-color);
}
  
/* FOOTER ABOUT US */

.footer-logo {
    margin-bottom: 25px;
}
  
/* FOOTER SOCIAL */

.footer-social {
    margin-top: 15px;
}
  
.footer-social .widget-title {
    font-size: 14px;
    margin-bottom: 10px;
}
  
.footer-social ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: -13px;
}

.footer-social ul li {
    display: inline-block;
}

.footer-social ul li a {
    text-decoration: none;
}

.footer-social ul li a i {
    display: block;
    font-size: 30px;
    color: var(--light-color);
    transition: 400ms;
    padding: 10px 13px;
}

.footer-social ul li a i:hover {
    color: var(--main-color);
}
  
/* LINKS */

.footer-widget ul.list-arrow {
    padding: 0 12px;
}

.footer-widget ul.list-arrow li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.07);
    padding: 8px 0;
}
  
.footer-widget ul.list-arrow li:last-child {
    border-bottom: 0;
}

.footer-widget ul.list-arrow li a {
    text-decoration: none;
}
  
.footer-widget ul.list-arrow li a,
.footer-widget ul.list-arrow li:before {
    color: var(--light-gray-color);
}
  
.footer-widget ul.list-arrow li:hover a,
.footer-widget ul.list-arrow li:hover {
    color: var(--main-color);
}
  
.footer-contacts {
    padding-right: 10px;
}
  
.footer-contacts .text-right {
    float: right;
}
  
/* COPYRIGHT */

.copyright {
    background: var(--blue-color);
    color: var(--light-color);
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    padding-block: 10px;
}

.footer-menu ul li {
    display: inline-block;
    line-height: 12px;
    padding-left: 15px;
}

.footer-menu ul li a:hover {
    color: #fff;
}

/* WPP BUTTON */

.whatsapp-button {
    position: fixed;
    right: 15px;
    bottom: 15px;
}

@media (max-width: 767px) {
    .service {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .service-left-content, .service-right-content {
        width: 90%;
    }
}